header{
	background-color: #0da785;
	padding : 10px;
}

section{
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	min-width: 100px;
}

p{
	margin:auto;
	font-size:12pt;
}

.margin_top{
	margin-top:30px;
}

h3{
	color:white;
	margin-right:10px; 
	margin-bottom:0px;
}

.lead{
	font-size:16pt !important;
	color:white;
}

.subtitle{
	color:#dddddd;
	font-size:14pt;
}

.pagination>li>a{
	font-size:12pt;
	color:#1a8c5e;
}

nav{
	width:200px;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}

.nav_link{
	font-size:12pt;
	color:#ddeedd;
	text-decoration: underline;
}

.card{
	width:220px;
	height:240px;
	background-color : #dddddd;
	color:black;
	padding : 10px;
	margin-bottom:20px;
	margin-right:20px;
	display:inline-block;
	border-radius:5px;
	vertical-align: top;
}

.card_btn_container>a{
	margin-top:30px;
}

.card-body{
	margin-top:20px;
}

.btn{
	background-color:#1a8c5e !important;
}

.btn-danger{
	background-color:#bb4444 !important;
}

#main_container{
	padding: 0px;
}

.jumbotron{
	border-radius: 0px !important;
	color:white;
	background: url("../images/books_ed.jpg") no-repeat;
	background-size: 100% 100%;
}

.shadow_text{
	text-shadow: 2px 2px black;
}