<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ebook Library</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	crossorigin="anonymous">
	<style>
		header{
			background-color: #0da785;
			padding : 10px;
		}
		
		article{
			margin:auto;
			margin-top:20px;
			padding : 5px;
			min-width: 100px;
		}
		
		p{
			margin:auto;
			fonst-size:12pt;
		}
		
		.margin_top{
			margin-top:30px;
		}
		
		h3{
			color:white;
			margin-right:10px; 
			margin-bottom:0px;
		}
		
		.lead{
			font-size:12pt; !important
		}
		
		.subtitle{
			color:#dddddd;
			font-size:14pt;
		}
		
		a, .pagination>li>a{
			font-size:11pt;
			color:#1a8c5e;
		}
		
		
		.card{
			width:220px;
			height:240px;
			background-color : #dddddd;
			color:black;
			padding : 10px;
			margin-bottom:20px;
			margin-right:20px;
			display:inline-block;
			border-radius:5px;
			vertical-align: top;
		}
		
		.card-body{
			margin-top:20px;
		}
		
		.btn-danger{
			background-color:#bb4444;
			margin-top:30px;
		}
	</style>
</head>
<body>
	<header class="container-fluid">
		<div class="d-inline-block"><h3 class="align-middle">Ebook Library</h3></div>
		<div class="d-inline-block"><h3 class="subtitle">Read books online</h3></div>	
	</header>
	<div class="container text-center">
		<article>
			<p class="lead">Browse through the available books! Missing something? Go to the homepage and add the book, or delete a book that you don't need anymore.</p>
			<a href="#">Go To Home Page</a>	
			<p class="margin_top">Your Library</p>
			<nav aria-label="Page navigation example">
		  	<ul class="pagination pagination-sm">
				<li class="page-item"><a class="page-link" href="#">Previous</a></li>
		    	<li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>
			<div class="container library-self">
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card">
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
				<div class="card" >
			 		<img class="card-img-top" src=".../100px180/" alt="Card image cap">
					<div class="card-body">
			    		<h5 class="card-title">Card title</h5>
			    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			   	 		<a href="#" class="btn btn-danger">Go somewhere</a>
			  		</div>
				</div>
			</div>
		</article>
	</div>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
crossorigin="anonymous"></script>
</html>